<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="	https://upload.wikimedia.org/wikipedia/commons/thu…s-weather.svg/1024px-Circle-icons-weather.svg.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="http://www.vapebrandsunited.com/wp-content/uploads/2018/05/about-me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>